.form-label-group
  position: relative
  margin-bottom: 1rem

  $height: 3.125rem
  $padding: .75rem

  >
    input, textarea
      min-height: $height
      padding: $padding

    label
      height: $height
      padding: $padding
      position: absolute
      top: 0
      left: 0
      display: block
      width: 100%
      margin-bottom: 0

      /* Override default `<label>` margin
      line-height: 1.5
      color: #495057
      pointer-events: none
      cursor: text

      /* Match the input under the label
      border: 1px solid transparent
      border-radius: .25rem
      transition: all .1s ease-in-out

  input, textarea
    &::placeholder
      color: transparent

    &:not(:placeholder-shown)
      padding-top: 1.25rem
      padding-bottom: .25rem

      ~ label
        padding-top: .25rem
        padding-bottom: .25rem
        font-size: 12px
        color: #777
